<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <div class="example-form">
      <mat-card-content>
        <div>
          <ngx-dropzone (change)="onSelect($event)">
            <ngx-dropzone-label>Upload .CSV Files</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>
        </div>
        <button (click)=clickButton()>Button</button>
      </mat-card-content>
    </div>
  </mat-card>

</div>
