<div class="graph-container" fxLayout="row">
  <div fxLayout="column" fxLayoutAlign="center center">
    <svg width="960" height="725"></svg>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="sidebar">
      <div class="sidebar-compoenent">
        <mat-card-content>
          <div class="connections-checkbox">
            <div class="connections-checkbox" fxLayout="column" fxLayoutAlign="center center">
              <section class="example-section">
                <mat-checkbox class="example-margin">2 Connections</mat-checkbox>
              </section>
              <section class="example-section">
                <mat-checkbox class="example-margin">3 Connections</mat-checkbox>
              </section>
              <section class="example-section">
                <mat-checkbox class="example-margin">4 Connections</mat-checkbox>
              </section>
            </div>

          </div>
          <mat-divider></mat-divider>

          <div class="icon-selections">
            <div class="connections-checkbox" fxLayout="column" fxLayoutAlign="center center">
              <section class="example-section">
                <mat-checkbox class="example-margin">Person 1</mat-checkbox>
              </section>
              <section class="example-section">
                <mat-checkbox class="example-margin">Person 2</mat-checkbox>
              </section>
              <section class="example-section">
                <mat-checkbox class="example-margin">Person 3</mat-checkbox>
              </section>
              </div>
          </div>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
